
<a mat-list-item [ngStyle]="{'padding-left': (depth * 30) + 'px'}" (click)="onItemSelected(item)"
              [ngClass]="{'active': isActiveRoute(item)}">
  <!-- <mat-icon class="routeIcon">{{item.iconName}}</mat-icon> -->
  <div [innerHtml]="item.iconName"></div>
  {{item.displayName}}
  <!-- <span fxFlex *ngIf="item.children && item.children.length" class="d-flex ml-auto">
    <span fxFlex></span>
    <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
      expand_more
    </mat-icon>
  </span> -->
</a>
<!-- <div *ngIf="expanded">
  <app-menu-list-item *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
  </app-menu-list-item>
</div> -->
