<app-client-header [clientId]="clientId" [headerText]="header"></app-client-header>
<div class="readmin-panel">
  <div [ngClass]=" { 'readmin-panel': isRoleClient }">
    <div class="container-fluid">
      <div *ngIf="isRoleClient" class="d-flex justify-content-between panel-title align-items-center">
        <h1 class="page_title">My Programs</h1>
      </div>

      <div *ngIf="addPermission" class="col-sm-12 d-flex align-items-center justify-content-end mt-3">
        <button name="Save" class="add-new-btn" mat-raised-button color="primary"
          (click)="assignOrUpdateProgram()">Enroll</button>
      </div>
    </div>

    <app-data-table class="d-block table-responsive" [inputColumns]="displayedColumns"
      [inputSource]="programsListingData" [inputMeta]="metaData" [inputButtons]='actionButtons'
      (onChange)="onPageOrSortChange($event)" (onTableActionClick)="onTableActionClick($event)">
    </app-data-table>
  </div>
</div>
