<div class="payment-blk">
    <h2 class="page_title">Manage Fees and Refunds</h2>
    <div class="clearfix"></div>
    <div class="readmin-panel">
        <div class="no-gutters">

            <div class="col-md-9 justify-content-start pull-left">
                <form class="readmin-form custom_form" id="paymentFormGroup" autocomplete="off" [formGroup]="paymentFormGroup">
                    <div *ngIf="isAdminUser" class="row ">
                        <div class="col-md-12">
                            <h3 class="box-heading">Select Provider</h3>
                        </div>
                        <div class="col-md-5 pl-0">
                            <div class="col-md-9">
                                <mat-form-field class="example-full-width" required>
                                    <mat-select formControlName='providers' (openedChange)="onProviderDropDownClose($event)" placeholder="Providers" matInput multiple>
                                        <mat-option *ngFor="let user of usersData" [value]="user.staffID">
                                            {{user.firstName + ' ' + user.lastName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="f.providers.value && f.providers.value.length > 0">
                        <div class="row">

                            <div class="col-md-12">
                                <h3 class="box-heading">Fees</h3>
                            </div>
                            <div class="col-md-12">
                                <mat-checkbox (change)="checkboxchecked($event)">
                                    Set Urgent Care Fees
                                </mat-checkbox>
                            </div>
                            <br>
                            <br>
                            <div class="col-md-4">
                                <div class="col-md-9 pl-0">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>F2F Fees ($)</mat-label>
                                        <!-- <input mask="00.00" [dropSpecialCharacters]="false" matInput -->
                                        <input matInput (keyup)="onF2fFeeChange($event.target.value)" placeholder="F2F Fees $" formControlName="f2fFee">
                                        <mat-error *ngIf="f.f2fFee.errors">
                                            Please enter F2F Fees
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-md-9 pl-0">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Online Fees ($)</mat-label>
                                        <input matInput placeholder="Online Fees $" formControlName="newOnlineFee">
                                        <mat-error *ngIf="f.newOnlineFee.errors">
                                            Please enter Online Fees
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-4" *ngIf="showurgentcarefees">
                                <div class="col-md-9 pl-0">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Urgent Care Fees ($)</mat-label>
                                        <input matInput placeholder="Urgent Care Fees $" formControlName="urgentcareFee">
                                        <mat-error *ngIf="f.urgentcareFee.errors">
                                            Please enter urgent care Fees
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>




                        <div formArrayName="cancelationRules">
                            <div class="col-md-12">
                                <h3 class="box-heading">Cancellation policy</h3>
                            </div>
                            <div *ngFor="let rule of paymentFormGroup.get('cancelationRules')['controls']; let i =index">
                                <div [formGroupName]="i">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="col-md-9 pl-0 d-inline-block">
                                                <mat-form-field class="example-full-width">
                                                    <mat-label>Upto (Hours)</mat-label>
                                                    <mat-select placeholder="Upto (Hours)" formControlName='uptoHours' matInput>
                                                        <mat-option *ngFor="let hour of hoursList" [value]="hour">
                                                            {{hour + ' Hours'}}
                                                        </mat-option>

                                                    </mat-select>

                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-1 d-inline-block">
                                                <!-- <button (click)="addMoreHourOption()" class="btn btn-primary">+</button> -->
                                                <button type="button" class="additem" title="Add Option" (click)=addMoreHourOption()>
                                                <b class="fa fa-plus-square greenfont" aria-hidden="true"></b>
                                              </button>
                                            </div>
                                        </div>

                                        <div class="col-md-5">
                                            <div class="col-md-9 pl-0 d-inline-block">
                                                <mat-form-field class="example-full-width">
                                                    <mat-label>Refund Percentage</mat-label>
                                                    <mat-select placeholder="Refund Percentage" formControlName='refundPercentage' matInput>
                                                        <mat-option *ngFor="let rp of refundPercentagesList" [value]="rp">
                                                            {{rp +'%'}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-1 d-inline-block">
                                                <!-- <button (click)="addMoreRefundPercentageOption()"
                                                class="btn btn-primary">+</button> -->
                                                <button type="button" class="additem" title="Add Option" (click)=addMoreRefundPercentageOption()>
                                                    <b class="fa fa-plus-square greenfont" aria-hidden="true"></b>
                                                  </button>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <button class="btn btn-danger float-right mt-4" (click)="removeCancelationRuleControl(i)"><i class="fa fa-minus"></i> Remove</button>

                                            <!-- <button type="button" class="additem removeitem float-right" title="Remove rule" (click)=removeCancelationRuleControl(i)>
                                            <b class="fa fa-minus-square redfont" aria-hidden="true"></b>
                                          </button> -->

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <button class="btn btn-primary float-right mr-15" type="button" (click)="addCancelationRuleControl(null)"><i class="fa fa-plus"></i>{{paymentFormGroup.get('cancelationRules')['controls'].length == 0 ? 'Add cancellation policy' : 'Add More'}} </button>

                        <div class="row">
                            <div class="col-sm-12">
                                <mat-error *ngIf="paymentFormGroup.get('cancelationRules')['controls'].length == 0">
                                    No refund in-case cancellation policy is not set
                                </mat-error>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">

                            <div class="col-md-12">
                                <h3 class="box-heading">Follow-Up fees</h3>
                            </div>
                            <div class="col-md-5">
                                <div class="col-md-9 pl-0">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Follow-Up Fees ($)</mat-label>
                                        <input matInput placeholder="Follow-Up Fees ($)" formControlName="folowupFees">
                                        <mat-error *ngIf="f.folowupFees.errors">
                                            Please enter Follow-Up Fees
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="col-md-9 pl-0 d-inline-block">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Upto (Days)</mat-label>
                                        <mat-select placeholder="Upto (Days)" formControlName='folowupDays' matInput>
                                            <mat-option *ngFor="let day of daysNumbersList" [value]="day">
                                                {{day + ' '}} {{ day > 1 ? 'Days' : 'Day'}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="f.folowupDays.errors">
                                            Please enter Days
                                        </mat-error>
                                    </mat-form-field>

                                </div>
                                <div class="col-md-1 d-inline-block">

                                    <button type="button" class="additem" title="Add Option" (click)=addMoreFollowUpDaysOption()>
                                        <b class="fa fa-plus-square greenfont" aria-hidden="true"></b>
                                      </button>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 d-sm-flex justify-content-sm-end pt-3 actions-btn">
                                <button name="Save" type="button" (click)="onSubmit()" mat-raised-button mat-primary color="primary" form="userForm" class="text-uppercase" [disabled]="submitted">{{submitted ? 'Saving...' : 'Save'}}</button>

                            </div>
                        </div>

                    </div>
                </form>
            </div>



        </div>
        <div class="clearfix"></div>
    </div>
</div>