<div class="row patientClient-chat-cover">
  <div class="col-md-4" [ngClass]="{'showlist': showChatUserList,'hidelist': !showChatUserList}">
    <div class="readmin-panel">
      <div class="chat-user-search">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
              height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect x="0" y="0" width="20" height="20"></rect>
                <path
                  d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"
                  fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                <path
                  d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"
                  fill="#000000" fill-rule="nonzero"></path>
              </g>
            </svg>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon1"
          (input)="onSearchUser($event)">
        <div class="close-btn" (click)="onHideShow()"><i class="zmdi zmdi-close"></i></div>
      </div>
      <div [ngStyle]="{ 'height': 'Calc(100vh - 160px)' }">
        <ng-scrollbar>
          <div class="chat-user-list" *ngFor="let user of usersList">
            <div class="chat-user-name">
              <img src="{{user.photoThumbnailPath || thumbnailImage}}" />
              <div>
                <p (click)="onClickUser(user.id, user.value, user.photoThumbnailPath)">{{user.value}} <i
                    [ngClass]="{'greenfont': onlineUserIds.includes(user.id), 'blackfont': !onlineUserIds.includes(user.id)}"
                    class="fa fa-comment" aria-hidden="true"></i></p>
                <span *ngIf="user.phoneNumber"><i class="zmdi zmdi-smartphone-iphone pr-1"></i> <a target="_blank"
                    href="tel:{{user.phoneNumber}}">{{user.phoneNumber}}</a></span>
                <span *ngIf="user.email"><i class="zmdi zmdi-email pr-1"></i> <a target="_blank"
                    href="mailto:{{user.email}}">{{user.email}}</a></span>

                <small>
                  <i class="fa fa-circle"
                    [ngClass]="{'greenfont': onlineUserIds.includes(user.id), 'orangefont': !onlineUserIds.includes(user.id)}"
                    aria-hidden="true"></i>
                  {{onlineUserIds.includes(user.id) ? 'Online' : 'Offline' }}
                </small>
              </div>
            </div>
            <div class="chat-time" *ngIf="checkForUnreadCounts(user.id) > 0">
              <label>{{unreadTimeFromNow(user.id)}}</label>
              <span>{{checkForUnreadCounts(user.id)}}</span>
            </div>
          </div>
        </ng-scrollbar>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <app-chat-messages [loginUserId]="loginUserId" [chatUserId]="selectedUserId" [chatUserName]="selectedUserName"
      [chatUserImage]="selectedUserImage" [isOnline]="selectedUserOnline" (onShowHide)="onShowHide()">
    </app-chat-messages>
  </div>
</div>