<div>
  <div class="client_profile" *ngIf="patientAppointmentDetails && staffDetails">

    <div class="clientbox">
      <div class="user_pic activec">
        <img src="{{staffDetails.photoThumbnail|| '../assets/img/provider-default-user.svg'}}" alt="" />
        <i class="fa fa-circle" aria-hidden="true"></i>
      </div>

      <div class="userlinks">
        <p>
          <a aria-current="false" href="javascript:void(0);">Dr.&nbsp;{{staffDetails.staffName}}</a>
        </p>
      </div>
      <div class="client_detail">
        <p>
          <b>Appointment Date</b>&nbsp;:&nbsp;
          <span>{{patientAppointmentDetails.startDateTime||'' | date:'mediumDate'}}</span>
        </p>
        <p>
          <b>Time</b>&nbsp;:&nbsp;
          <span>{{patientAppointmentDetails.startDateTime||''| date:'shortTime'}}&nbsp;-&nbsp;{{patientAppointmentDetails.endDateTime||''| date:'shortTime'}}</span>
        </p>

      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8" id="divVideoTool">
      <app-video-chat *ngIf="patientAppointmentDetails && patientAppointmentDetails.isTelehealthAppointment" [patientAppointmentDetails]="patientAppointmentDetails"
        [patientAppointmentId]="appointmentId"></app-video-chat>
    </div>
  </div>
  <!-- <app-mean-video *ngIf="patientAppointmentDetails && patientAppointmentDetails.isTelehealthAppointment" [display-name]='patientAppointmentDetails.patientName'
    [app-id]='appointmentId'></app-mean-video> -->
</div>
