# See http://help.github.com/ignore-files/ for more about ignoring files. 

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
/.vs
/src/app/platform/modules/agency-portal/masters/masters.module.spec.js.map
/src/app/platform/modules/agency-portal/masters/masters.module.spec.js
/src/app/platform/modules/agency-portal/masters/service/service.component.spec.js.map
/src/app/platform/modules/agency-portal/masters/service/service.component.spec.js
/src/app/platform/modules/agency-portal/masters/service/service-modal/service-modal.component.spec.js.map
/src/app/platform/modules/agency-portal/masters/service/service-modal/service-modal.component.spec.js

*.suo
*.json
/src/app/platform/modules/agency-portal/clients/family-history/family-history.component.spec.js
/src/app/platform/modules/agency-portal/clients/medication/medication.component.spec.js
/src/app/platform/modules/agency-portal/clients/medication/medication.component.spec.js.map
/src/app/platform/modules/agency-portal/clients/clients.module.spec.js
/src/app/platform/modules/agency-portal/clients/clients.module.spec.js.map
/src/app/platform/modules/agency-portal/users/add-user/add-user.component.spec.js
/src/app/platform/modules/agency-portal/users/add-user/add-user.component.spec.js.map
/src/app/platform/modules/agency-portal/users/availability/availability.component.spec.js
/src/app/platform/modules/agency-portal/users/availability/availability.component.spec.js.map
/src/app/platform/modules/agency-portal/users/user/user.component.spec.js.map
/src/app/platform/modules/agency-portal/users/user/user.component.spec.js
/src/app/platform/modules/agency-portal/users/payroll-rate/payroll-rate.component.spec.js.map
/src/app/platform/modules/agency-portal/users/payroll-rate/payroll-rate.component.spec.js
/src/app/platform/modules/agency-portal/users/custom-fields/custom-fields.component.spec.js.map
/src/app/platform/modules/agency-portal/users/custom-fields/custom-fields.component.spec.js
/src/app/platform/modules/agency-portal/users/user-leaves/user-leaves.component.spec.js.map
/src/app/platform/modules/agency-portal/users/user-leaves/user-leaves.component.spec.js
/src/app/platform/modules/agency-portal/users/user-documents/user-documents.component.spec.js.map
/src/app/platform/modules/agency-portal/users/user-documents/user-documents.component.spec.js
/src/app/platform/modules/agency-portal/users/user-documents/add-user-document/add-user-document.component.spec.js.map
/src/app/platform/modules/agency-portal/users/user-documents/add-user-document/add-user-document.component.spec.js
/src/app/platform/modules/agency-portal/users/users.module.spec.js.map
/src/app/platform/modules/agency-portal/users/users.module.spec.js
/src/app/platform/modules/agency-portal/users/user-profile/user-profile.component.spec.js.map
/src/app/platform/modules/agency-portal/users/user-profile/user-profile.component.spec.js
/src/app/platform/modules/agency-portal/users/user-listing/user-listing.component.spec.js.map
/src/app/platform/modules/agency-portal/users/user-listing/user-listing.component.spec.js
/src/app/platform/modules/core/services/index.js
/src/app/platform/modules/core/services/index.js.map
/src/app/shared/layout/index.js.map
/src/app/shared/layout/index.js
/src/app/platform/modules/scheduling/scheduler/scheduler.component.spec.js.map
/src/app/platform/modules/scheduling/scheduler/scheduler.component.spec.js
/src/main.js.map
/src/main.js
/src/environments/environment.js.map
/src/environments/environment.js
/src/app/super-admin-portal/core/services/index.js.map
/src/app/super-admin-portal/core/services/index.js
/src/app/app.component.spec.js.map
/src/app/app.component.spec.js
/src/app/platform/modules/scheduling/scheduling.module.spec.js
/src/app/platform/modules/scheduling/scheduling.module.spec.js.map
/src/app/shared/set-reminder/set-reminder.component.spec.ts
/src/app/shared/set-reminder/set-reminder.service.spec.ts
