.appoint-data p
{
    margin: 15px 10px 0px 0px;
}
.appoint-data span 
{
 font-weight: 800;
}
.refresh-icon .refresh
{
    padding-right: 27px;
}

.field-clear
{
    position: absolute;
    bottom: 1.80em;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.40);
    right: 15px;
}