<div [ngClass]=" { 'readmin-panel': isRoleClient }">
  <div class="container-fluid">
  <div *ngIf="isRoleClient" class="d-flex justify-content-between panel-title align-items-center">
    <h1 class="page_title">My Medications</h1>
    <div>
      <mat-checkbox *ngIf="!isRoleClient" color="primary" (change)="isAlertChecked($event)">
        Show Alerts
      </mat-checkbox>
      <button mat-raised-button color="primary" class="add-new-btn mr-3 ml-5" *ngIf="addPermission"
        (click)="openDialog()">
        <span>Add New</span>
      </button>
      <button mat-raised-button color="primary" class="add-new-btn mr-3" *ngIf="addPermission"
        (click)="openCustomDialog()">
        <span>Manual Entry</span>
      </button>
      <button  mat-raised-button color="primary" class="add-new-btn"
        (click)="printPatientCurrentMedication()">
        <span>Print</span>
      </button>
    </div>
  </div>
</div>
  <div class="clearfix"></div>
  <!-- <app-data-table class="mt-3 d-block table-responsive" [inputColumns]="displayedColumns" [inputSource]="medicationList"
    [inputMeta]="metaData" [inputButtons]='actionButtons' (onChange)="onPageOrSortChange($event)"
    (onTableActionClick)="onTableActionClick($event)">
  </app-data-table> -->
  <app-data-table class="mt-3 d-block table-responsive" [inputColumns]="medicationColumns" [inputSource]="clientMedicationModel" [inputMeta]="metaData" (onChange)="onPageOrSortChange($event)" (onTableActionClick)="onTableActionClick($event)"></app-data-table>   
</div>
