<div class="container faq-section">
    <div class="row">
        <div class="col-md-12">
            <h2 class="section-heading mt-4">FAQ's</h2>
            <h4 class="text-center mb-5">Get the most out of your plan with easier access to tools, resources and support. Take charge of your
                health care and benefits with your smartTeleHealth.</h4>
            <mat-accordion>
                <!-- <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                        This is the expansion title
                        </mat-panel-title>
                        <mat-panel-description>
                        This is a summary of the content
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>This is the primary content of the panel.</p>
                    </mat-expansion-panel> -->
                <mat-expansion-panel (opened)="panelOpenState = false" (closed)="panelOpenState = true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Q 1:
                        </mat-panel-title>
                        <mat-panel-description>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    
                    <p><span>Ans :</span> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur.</p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Q 2:
                        </mat-panel-title>
                        <mat-panel-description>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p><span>Ans :</span> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur.</p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Q 3:
                        </mat-panel-title>
                        <mat-panel-description>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p><span>Ans :</span> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur.</p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Q 4:
                        </mat-panel-title>
                        <mat-panel-description>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p><span>Ans :</span> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur.</p>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Q 5:
                        </mat-panel-title>
                        <mat-panel-description>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p><span>Ans :</span> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur.</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>