<div>

  <div class="readmin-panel">
    <h2 class="page_title">Manage Users</h2>
  <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-9 justify-content-start pull-left">
        <form class="readmin-form custom_form" id="userFormGroup" #documentForm="ngForm" [formGroup]="userFormGroup">
          <div class="row end-flex">
            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <mat-select multiple placeholder="Tags" (selectionChange)="applyFilter()" formControlName="tagIds" matInput>
                  <mat-option *ngFor="let tag of masterTagsForStaff" [value]="tag.value">
                    {{tag.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="example-full-width">
                <mat-select placeholder="Role" (selectionChange)="applyFilter()" formControlName="roleId" matInput>
                  <mat-option *ngFor="let role of masterRoles" [value]="role.id">
                    {{role.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="example-full-width">
                <input matInput (keyup)="applyFilter()" placeholder="Search" formControlName="searchText">
              </mat-form-field>
            </div>
            <div class="col-md-2 filter-btn">
              <button class="clear-btn" mat-raised-button (click)='clearFilters()'>Clear All</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3 pull-right justify-content-md-end d-flex">
        <button *ngIf="addPermission" mat-raised-button color="primary" (click)="addUser()">
          <i class="fa fa-plus" aria-hidden="true"></i> Add User</button>
      </div>
    </div>
    <div class="clearfix"></div>

    <app-data-table [inputColumns]="displayedColumns" [inputSource]="usersData" [inputMeta]="metaData" [inputButtons]='actionButtons'
      (onChange)="onPageOrSortChange($event)" (onTableActionClick)="onTableActionClick($event)">
    </app-data-table>

    <!-- (onChange)="onPageOrSortChange($event)"
   (-->
