<div class="hgt100">
  <div>
    <span>

    </span>
    <div>
      <div>
        <h2 class="page_title">Dashboard</h2>
        <div class="clearfix"></div>
      </div>
      <div class="row dashboardchart">
        <div class="col-md-12">
          <div class="readmin-panel righticonmenu">
            <h5>Total Sales</h5>
            <div class="panel-body dashboard_body">
              <app-line-chart [lineChartData]="lineChartData" [lineChartLabels]="lineChartLabels"></app-line-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
