.remain-unit-circle {
    color: var(--color-white);
    border: 1px solid transparent;
    width: 80px;
    text-align: center;
    display: block;
    border-radius: 30px;
    font-size: 13px;
  }
  