.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 10px;
    margin-bottom: 14px;
    border-radius: 3px;
}
.green-part {
  background: #2a5a75;
  color: var(--color-white);
  text-align: center;
  min-height: 100vh;
  padding: 60px 0px;
    position: relative;
    overflow: hidden;
}
.bottom-position {
  position: absolute;
  bottom: -33px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 370px;
}
.green-part h4 {
  font-weight: normal !important;
  font-size: 30px;
  margin: 30px 0;
}
.green-part p {
  font-size: 22px;
}
.forgt-txt {
  float: right;
}
.new-login-container .group {
  margin-top: 30px;
}
.new-login-container .group label {
  font-weight: bold;
}
.new-login-container h5 a, .forgt-txt a{
  color: #007f7f;
  font-weight: bold;
}
.new-login-container button.btn-blue {
  background: #186b86;
  color: var(--color-white);
}
.new-login-container .btn-white{
  background: #ffcd34;
  color: var(--color-white);
}
.new-login-container .form-control {
  transition: none;
  background: #f5f8fa;
  border: 0;
  height: 45px;
}
.bottom-terms {
  margin-top: 30px;
}
.bottom-terms a {
  display: inline-block;
  color: #c7c7d2;
  margin-right: 25px;
  font-weight: bold;
  font-size: 16px;
}
.text-light-gray{
  color: #c7c7d2;
}
.form-block .alert-danger{
  bottom: 0;
}
