<div class="container-fluid">
<div class="row">
  <div class="clearfix"></div>
  <form id="qualificationForm" #documentForm="ngForm" class="readmin-form custom_form w-100" [formGroup]="qualificationForm">
    <div class="col-sm-12">
      <div class="panel_title mt-20">
        <h3>Qualification</h3>
        <i class="flaticon flaticon-calendar-1"></i>
      </div>
      <div class="clearfix"></div>
      <div class="clearfix"></div>
      <div class="clearfix"></div>
      <div class="qualification" formArrayName="qualification">

        <div class="pdr-40 parent_div" *ngFor="let quali of qualificationForm.get('qualification')['controls']; let ix=index">
          <div class="row" formGroupName="{{ix}}">
            <div class="col-sm-4">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Course" formControlName="course">
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="University" formControlName="university">
              </mat-form-field>
            </div>
            <div class="col-sm-2">
              <mat-form-field class="example-full-width">
                <input matInput readonly [matDatepicker]="startDate" placeholder="Start Date" formControlName="startDate">
                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>

              </mat-form-field>
            </div>
            <div class="col-sm-2">
              <mat-form-field class="example-full-width">
                <input matInput readonly [matDatepicker]="endDate" placeholder="End Date" formControlName="endDate">
                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                <mat-datepicker #endDate></mat-datepicker>
              </mat-form-field>
            </div>


            <div class="pdl-40">
              <button *ngIf="(ix > 0) || (qualification['controls'].length > 1)" type="button" class="additem removeitem" title="Remove row"
                (click)=removeQualification(ix)>
                    <b class="fa fa-minus-square redfont" aria-hidden="true"></b>
                  </button>
              <button *ngIf="(ix + 1) === qualification['controls'].length" type="button" class="additem" title="Add row" (click)=addQualification()>
                    <b class="fa fa-plus-square greenfont" aria-hidden="true"></b>
                  </button>
            </div>

          </div>

        </div>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-sm-12 mb-4 d-sm-flex justify-content-sm-end pt-3 actions-btn">
    <button mat-raised-button color="primary" name="Save" form="experienceForm" class="text-uppercase" [disabled]="submitted"
      (click)="onSubmit()" cdkFocusInitial>{{submitted ? 'Saving...' : 'Save'}}</button>
  </div>
</div>

</div>
