<div class="terms-block">
<section class="the-benefits policy-blk">
    <i (click)="closeDialog('close')" class="fa fa-close" aria-hidden="true"></i>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="section-heading">Terms and Conditions</h4>
                <div class="wedo-box">
                    <p>Our simple terms and conditions template can instantly generate a custom terms of service policy for your business.
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="the-benefits policy-blk">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="section-heading">Privacy Policy</h4>
                <div class="wedo-box">
                    <p>Our simple privacy policies can help you grow your business.
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                
                </div>
            </div>
        </div>
    </div>
</section>
</div>