
<div >

  <mat-nav-list>
      <h2>Patient Details</h2>

      <div class="searchwdbtn">
          <form class="searchclient">
              <input [(ngModel)]="searchKey" name="searchKey" type="text" class="pateintsearch" placeholder="Search here..." (keyup)="getClients()">
              <button class="serchclose-btn" type="reset" (click)="searchKey='';getClients()" ><i class="fa fa-times" aria-hidden="true"></i></button>
          </form>
          <button mat-raised-button  class="s_filter" (click)="toggleAdvancedFilter()"><i class="fa fa-filter" aria-hidden="true"></i></button>
          <button mat-raised-button color="primary" (click)="onClick()" class="addpateint"><i class="fa fa-plus" aria-hidden="true"></i></button>
      </div>
      <div *ngIf="toggle" class="filterbox" id="advancedFilter">
        <div class="row">
          <div class="col-12 filterhead">Advance Search Filter <i class="fa fa-times" aria-hidden="true" (click)="toggleAdvancedFilter(false)" ></i>
          </div>
          <div class="col-sm-12 d-flex align-items-center">
              <mat-checkbox  [(ngModel)]="active" (click)="getClients()" name="active">
                  Include active patients only
                </mat-checkbox>
          </div>
          <div class="col-sm-12 d-flex align-items-center" >
              <mat-checkbox [(ngModel)]="inActive" (click)="getClients()" name ="inActive">
                  Include inactive patients only
                </mat-checkbox>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <ng-scrollbar>
      <div [ngStyle]="{ 'height': '100vh' }">
      <mat-list-item class="activec" *ngFor="let item of patientList" (click)="onClick(item)">
        <!-- [ngClass]="{'clientsearch_img' :true,'activec':item.isActive==true,'inactive': item.isActive==false,'lock':item.isBlock==true}" -->
        <!-- <img matListAvatar src="../../../../../assets/img/default-user.png" class="img-fluid" alt=""/> -->
        
        <img matListAvatar *ngIf="item.photoThumbnailPath" [src]="item.photoThumbnailPath" class="img-fluid" alt=""/> 
        <img matListAvatar *ngIf="!item.photoThumbnailPath" src="../../../../../assets/img/patient-default-user.svg" class="img-fluid" alt=""/>  

        <!-- <span *ngIf="!item.photoThumbnailPath" matListAvatar class="userletter">{{ item.firstName.charAt(0) + item.lastName.charAt(0) }}</span> -->

          <h3 matLine> {{item.firstName + ' ' +item.lastName}} </h3>
          <p matLine>
            <span> MRN: {{item.mrn}} </span>
  
          </p>
          <p matLine><span>{{item.dob}}</span></p>
        
        
      </mat-list-item>

        <mat-list-item *ngIf="patientList!=null && patientList.length==0">
        <p>No Patient Found</p>
        </mat-list-item>

        <div [class.hidden]="!isLoadingClients">
          <div class="full_loader top0">
              <div class="circle_loader search_loader">
                  <img src={{loaderImage}} alt="" />
              </div>
          </div>
      </div>
      </div>
      </ng-scrollbar>

  </mat-nav-list>

</div>
